[Unit]
Description=Wired Notification Daemon
Documentation=https://github.com/Toqozz/wired-notify
After=graphical.target

[Install]
WantedBy=default.target

[Service]
Type=simple
ExecStart=/usr/bin/wired
ExecStartPre=/bin/sleep 3
EnvironmentFile=%h/Dropbox/secrets.env
EnvironmentFile=%h/dotfiles/linux/variables.env
Restart=always
RestartSec=5
