[Unit]
Description=Bluetooth device connection and disconnection notifications
Documentation=man:dbus-monitor(1)

[Service]
Type=simple
ExecStart=/usr/bin/bash %h/dotfiles/linux/scripts/bluetooth-notify
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
