[Unit]
Description=Bluetooth device connection notifications
Documentation=man:dbus-monitor(1)

[Service]
Type=simple
ExecStart=/usr/bin/bash %h/dotfiles/linux/scripts/bluetooth-notify
Restart=on-failure
RestartSec=5
EnvironmentFile=%h/dotfiles/linux/variables.env

[Install]
WantedBy=default.target
