[submodule "linux/i3/polybar/polybar-scripts"]
	path = linux/i3/polybar/polybar-scripts
	url = git@github.com:polybar/polybar-scripts.git
[submodule "vendor/automount-usb"]
	path = vendor/automount-usb
	url = git@github.com:raamsri/automount-usb.git
