ACTION=="bind", SUBSYSTEM=="hid", \
  ENV{DBUS_SESSION_BUS_ADDRESS}="unix:path=/run/user/1000/bus", \
  RUN+="/usr/bin/su lukas -c 'notify-send -a System -u critical -i /usr/share/icons/FontAwesome-6/light/512x512/all/usb.png -h string:wired-tag:system \"$env{HID_NAME}\" \"Connected\"'"

ACTION=="unbind", SUBSYSTEM=="hid", \
  ENV{DBUS_SESSION_BUS_ADDRESS}="unix:path=/run/user/1000/bus", \
  RUN+="/usr/bin/su lukas -c 'notify-send -a System -u critical -i /usr/share/icons/FontAwesome-6/light/512x512/all/usb.png -h string:wired-tag:system \" $env{HID_NAME}\" \"Disconnected\"'"
