ACTION=="bind", SUBSYSTEM=="hid", \
  ENV{DBUS_SESSION_BUS_ADDRESS}="unix:path=/run/user/1000/bus", \
  RUN+="/usr/bin/su lukas -c 'dunstify -r 21 -u critical -i usb -a 'USB' \"$env{HID_NAME}\" \"Connected\"'"

ACTION=="unbind", SUBSYSTEM=="hid", \
  ENV{DBUS_SESSION_BUS_ADDRESS}="unix:path=/run/user/1000/bus", \
  RUN+="/usr/bin/su lukas -c 'dunstify -r 21 -u critical -i usb -a 'USB' \" $env{HID_NAME}\" \"Disconnected\"'"
