@import "../variables";

$dark-background-1: rgba(0, 35, 44, $opacity);
$dark-background-2: rgba(7, 54, 66, $opacity);
$dark-background-3: rgba(88, 110, 117, $opacity);
$dark-background-4: rgba(88, 110, 117, $opacity);

$dark-accent-background: #53C3B9;
$dark-accent-text: #00232c;

.window.dark {
  background-color: $dark-background-1;

  .text {
    color: #93a1a1;

    &.subdued {
      color: grey;
    }
  }

  .accented {
    background-color: $dark-accent-background;

    .text {
      color: $dark-accent-text;
    }
  }

  .panel {
    background-color: $dark-background-2;
  }

  .big-button {
    background-color: $dark-background-3;
  }

  .button, .big-button {
    &:hover {
      background-color: $dark-background-4;
    }
  }

  .display-entry {
    &.layout-tile {
      background-color: $dark-background-3;

      &.unavailable {
        background-color: $dark-background-4;
      }

      &.active {
        background-color: $dark-accent-background;
      }

      &:hover, &.active:hover, &.unavailable:hover {
        background-color: #7fd9d2;
      }
    }
  }

  .quick-action {
    .body .button {
      border-color: #93a1a1;
    }
  }

  .keeb-track {
    background-color: $dark-background-3;
  }

  .keeb-stage {
    background-color: $dark-background-4;

    &.on {
      background-color: $dark-accent-background;
    }

    &:hover {
      background-color: $dark-accent-background;
    }
  }

  scale trough {
    background-color: $dark-background-3;

    highlight {
      background-color: $dark-accent-background;
    }

    slider {
      color: #ffffff;
    }
  }

  .notification-panel {
    .body {
      .entry {
        background-color: $dark-background-2;
      }
    }

    .actions {
      background-color: $dark-background-3;
    }
  }
}
