@import "../variables";

$light-background-1: rgba(202, 202, 202, $opacity);
$light-background-2: rgba(212, 212, 212, $opacity);
$light-background-3: rgba(222, 222, 222, $opacity);
$light-background-4: rgba(232, 232, 232, $opacity);

$light-accent-background: #53C3B9;
$light-accent-text: #00232c;

.window.light {
  background-color: $light-background-1;

  .text {
    color: black;

    &.subdued {
      color: grey;
    }
  }

  .accented {
    background-color: $light-accent-background;

    .text {
      color: $light-accent-text;
    }
  }

  .panel {
    background-color: $light-background-2;
  }

  .big-button {
    background-color: $light-background-3;
  }

  .button {
    padding: $magic-number * 1;
  }

  .button, .big-button {
    &:hover {
      background-color: $light-background-4;
    }
  }

  .notification-panel {
    .body {
      .entry {
        background-color: $light-background-3;
      }
    }
    .actions {
      background-color: $light-background-3;
    }
  }
}
