$component-bg: #ECECEC;
$component-fg: #BF616A;
// $disabled-color: #B96666;
$disabled-color: #808080;
$magic-number: 7px;
$radius: $magic-number * 2;
$image-size: $magic-number * 3;
$opacity: 1;

* {
  all: unset;
  font-family: Hack;
  font-family: Noto Sans CJK JP;
  font-weight: bold;
}

.window {
  background-color: rgba(202, 202, 202, $opacity);
  border-radius: $radius;
  padding: $magic-number * 2;
}

box.component {
  &.disabled {
    .button, highlight {
      background-color: $disabled-color;
    }
  }
}

.panel {
  background-color: rgba(212, 212, 212, $opacity);
  border-radius: $radius * 0.6;
  padding: $magic-number * 2;
}

.button {
  border-radius: 50%;
  background-color: rgba(222, 222, 222, $opacity);
  padding: $magic-number * 4;
  min-width: $magic-number * 4;
  min-height: $magic-number * 4;

  image {
    min-width: $image-size;
    min-height: $image-size;
  }
}

widget {
  .button {
    &:hover {
      background-color: #abddfc;
    }
  }
}

.black {
  color: black;
}

scale trough {
  all: unset;
  background-color: $component-bg;
  border-radius: $radius;
  min-height: 28px;
  min-width: 240px;
  padding: 5;

  slider {
    color: #FF0000;
  }

  highlight {
    all: unset;
    border-radius: $radius * 0.75;
    background-color: black;
  }
}

circular-progress {
  &.stats {
    &.high {
      color: orange;
    }

    &.low {
      color: blue;
    }

    &.critical {
      color: red;
    }
  }

  &.battery {
    &.high {
      color: black;
    }

    &.low {
      color: orange;
    }

    &.critical {
      color: red;
    }

    &.Charging {
      color: green;
    }
  }
}

.device.connected {
  font-weight: bold;
}
