@import "./battery/styles";
@import "./weather/styles";
@import "./system-stats/styles";
@import "./notifications/styles";
@import "./user/styles.scss";

@import "./variables";
@import "./themes/light.scss";

* {
  all: unset;
  font-family: Hack;
  font-family: Noto Sans CJK JP;
  font-weight: bold;
}

.window {
  border-radius: $radius;
  padding: $magic-number * 2;
}

box.component {
  &.disabled {
    .button, highlight {
      background-color: $disabled-color;
    }
  }
}

.panel {
  border-radius: $radius * 0.6;
  padding: $magic-number * 2;
}

.button {
  border-radius: 50%;
  padding: $magic-number * 4;
  min-width: $magic-number * 4;
  min-height: $magic-number * 4;

  image {
    min-width: $image-size;
    min-height: $image-size;
  }
}

widget {
  .button {
    &:hover {
      background-color: #abddfc;
    }
  }
}

.text {
  color: black;
}

scale trough {
  all: unset;
  background-color: $component-bg;
  border-radius: $radius;
  min-height: 28px;
  min-width: 240px;
  padding: 5px;

  slider {
    color: #FF0000;
  }

  highlight {
    all: unset;
    border-radius: $radius * 0.75;
    background-color: black;
  }
}

.title {
  font-size: 20px;
}

.device.connected {
  font-weight: bold;
}
