$component-bg: #ECECEC;
$component-fg: #BF616A;
// $disabled-color: #B96666;
$disabled-color: #808080;
$button-disabled: #e05a5a;
$magic-number: 7px;
$radius: $magic-number * 2;
$image-size: $magic-number * 3;
$opacity: 1;
$padding: $magic-number * 2;
