$component-bg: #ECECEC;
$component-fg: #BF616A;
// $disabled-color: #B96666;
$disabled-color: #808080;
$button-disabled: #e05a5a;
$magic-number: 7px;
$radius: $magic-number * 2;
$image-size: $magic-number * 3;
$opacity: 1;
$padding: $magic-number * 2;

$light-background-1: rgba(202, 202, 202, $opacity);
$light-background-2: rgba(212, 212, 212, $opacity);
$light-background-3: rgba(222, 222, 222, $opacity);
$light-background-4: rgba(232, 232, 232, $opacity);
