[Unit]
Description=Offer night mode at night
After=graphical-session.target

[Service]
Type=exec
ExecStart=%h/dotfiles/linux/config/gammastep/night-mode-sunset
RuntimeMaxSec=12h
