[Unit]
Description=Polybar status bar
Documentation=https://github.com/polybar/polybar/
After=graphical.target

[Install]
WantedBy=default.target

[Service]
Type=simple
ExecStart=/usr/local/bin/u_polybar
ExecStartPre=/bin/sleep 2
EnvironmentFile=%h/Dropbox/secrets.env
EnvironmentFile=%h/dotfiles/linux/variables.env
Restart=always
RestartSec=5
