* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, "Hack Nerd Font Mono", "Noto Sans CJK JP";
  font-size: 22px;
}

window#waybar {
  background-color: rgba(43, 48, 59, 0.5);
  border-bottom: 3px solid rgba(100, 114, 125, 0.5);
  color: #FFFFFF;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
  background-color: transparent;
}
window#waybar.solo {
  background-color: #FFFFFF;
}
 */

window#waybar.termite {
  background-color: #3F3F3F;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #FFFFFF;
}

#power button:hover {
  background-color: red;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #FFFFFF;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
  color: #CC7833;
  box-shadow: inset 0 -3px #CC7833;
}

#workspaces button.urgent {
  background-color: #EB4D4B;
}

#mode {
  background-color: #64727D;
  border-bottom: 3px solid #FFFFFF;
}

#power,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#bluetooth,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-spotify,
#mpd {
  padding: 0 10px;
  color: #FFFFFF;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

/* #clock { */
/*   background-color: #64727D; */
/* } */

/* #battery { */
/*   background-color: #FFFFFF; */
/*   color: #000000; */
/* } */

#battery.charging, #battery.plugged {
  color: #ffffff;
  background-color: #26A65B;
}

@keyframes blink {
  to {
    background-color: #FFFFFF;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #F53C3C;
  color: #FFFFFF;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

/* #cpu { */
/*   background-color: #2ECC71; */
/*   color: #000000; */
/* } */

/* #memory { */
/*   background-color: #9B59B6; */
/* } */

/* #disk { */
/*   background-color: #964B00; */
/* } */

/* #backlight { */
/*   background-color: #90B1B1; */
/* } */

/* #bluetooth { */
/*   background-color: #2980B9; */
/* } */

/* #network { */
/*   background-color: #FF98B8; */
/* } */

/* #network.disconnected { */
/*   background-color: #F53C3C; */
/* } */

/* #pulseaudio { */
/*   background-color: #F1C40F; */
/*   color: #000000; */
/* } */

/* #pulseaudio.muted { */
/*   background-color: #90B1B1; */
/*   color: #2A5C45; */
/* } */

/* #wireplumber { */
/*   background-color: #FFF0F5; */
/*   color: #000000; */
/* } */

/* #wireplumber.muted { */
/*   background-color: #F53C3C; */
/* } */

/* #custom-media { */
/*   background-color: #66CC99; */
/*   color: #2A5C45; */
/*   min-width: 100px; */
/* } */

/* #custom-media.custom-spotify { */
/*   background-color: #66CC99; */
/* } */

/* #custom-media.custom-vlc { */
/*   background-color: #FFA000; */
/* } */

/* #temperature { */
/*   background-color: #F0932B; */
/* } */

/* #temperature.critical { */
/*   background-color: #EB4D4B; */
/* } */

/* #tray { */
/*   background-color: #2980B9; */
/* } */

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #EB4D4B;
}

/* #idle_inhibitor { */
/*   background-color: #2d3436; */
/* } */

#idle_inhibitor.activated {
  background-color: #ECF0F1;
  color: #2d3436;
}

/* #mpd { */
/*   background-color: #66CC99; */
/*   color: #2A5C45; */
/* } */

/* #mpd.disconnected { */
/*   background-color: #F53C3C; */
/* } */

/* #mpd.stopped { */
/*   background-color: #90B1B1; */
/* } */

/* #mpd.paused { */
/*   background-color: #51A37A; */
/* } */

/* #language { */
/*   background: #00B093; */
/*   color: #740864; */
/*   padding: 0 5px; */
/*   margin: 0 5px; */
/*   min-width: 16px; */
/* } */

/* #keyboard-state { */
/*   background: #97E1AD; */
/*   color: #000000; */
/*   padding: 0 0px; */
/*   margin: 0 5px; */
/*   min-width: 16px; */
/* } */

/* #keyboard-state > label { */
/*   padding: 0 5px; */
/* } */

/* #keyboard-state > label.locked { */
/*   background: rgba(0, 0, 0, 0.2); */
/* } */

/* #scratchpad { */
/*   background: rgba(0, 0, 0, 0.2); */
/* } */

/* #scratchpad.empty { */
/*   background-color: transparent; */
/* } */
