@import "../variables";

.notification-panel {
  .header, .footer {
    margin: $magic-number 0;
  }

  .body {
    .entry {
      border-radius: $radius * 0.4;
      padding: $magic-number;
      margin-top: $magic-number/2;
      margin-bottom: $magic-number/2;
    }
  }

  .footer {
    button {
      margin-left: $magic-number;
    }
  }
}
