configuration {
  show-icons: true;
  icon-theme: "Papirus";
  font: "hack 13";
  width: 600;
  lines: 20;
  eh: 1;
  bw: 0;
  theme: "/usr/share/rofi/themes/Adapta-Nokto.rasi";

  kb-remove-to-eol: "";
  kb-accept-entry: "Return,KP_Enter";
  kb-row-up: "Up,Control+k,ISO_Left_Tab";
  kb-row-down: "Down,Control+j";
}
