[Desktop Entry]
Name=OpenCode
Exec=/home/lukas/.local/opt/opencode-desktop/OpenCode.AppImage %U
Terminal=false
Type=Application
Icon=ai.opencode.desktop
StartupWMClass=ai.opencode.desktop
MimeType=x-scheme-handler/opencode;
Categories=Development;