@import "../variables";

.battery-panel {
  circular-progress {
    &.Charging, &.Full {
      color: green;
    }

    &.high, &.Discharging {
      color: blue;
    }

    &.low {
      color: orange;
    }

    &.critical {
      color: red;
    }
  }
}
