@import "../variables";

.battery-panel {
  circular-progress {
    &.high {
      color: black;
    }

    &.low {
      color: orange;
    }

    &.critical {
      color: red;
    }

    &.Charging, &.Full {
      color: green;
    }
  }
}
